# Core functionality - changes here should be rare!
/src/app.py                   @SueSystems
/src/backend/database.py      @SueSystems
/src/backend/routers/auth.py  @SueSystems

# The frontend will need refactored soon to be more object oriented.
/src/static/   @SueSystems
